body{
    background: cadetblue;
    font-family: cursive;
    /* font-size: 12px; */
    /* justify-content: center; */
}
label{
    margin: 10px 0px 0px 3px;
    /* justify-content: center;
    align-items: center; */
}
input{
    display: flex;
    margin: -19px 49px 28px 299px;
    border-radius: 7px;
    border: 0;
    background-color: aquamarine;
    text-align: center;
    font-size: large;
    color: #ff0202;
    /* align-items: center; */
}
.container{
    font-size: 27px;
    text-align: center;
    margin: 10px 55px 21px 10px;
    /* justify-content: center; */
    /* align-items: center; */
}
fieldset{
    display: inline;
    border: 0;
    margin: 10px 10px 10px 82px;
}
button{
    background-color: #0e0e0e;
    border: none;
    border-radius: 10px;
    margin: 10px 10px 13px 38.1rem;
    font-size: x-large;
    padding: 12px 21px 17px 21px;
    color: white;
    font-family: cursive;
    height: 62px;
    width: 128px;
}